.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    width: 100%;
}

.mainPanel {
    display: flex;
    flex-direction: column;
}

.sidePanel {
    height: calc(100vh - 200px);
    position: sticky;
    top: 100px;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
    }

    .sidePanel {
        height: auto;
        position: static;
    }
}